<div>
  <app-search [value]="search" (onSearch)="onSearch($event)"></app-search>

  <ng-container *ngIf="friendshipList; else loadingTemplate">
    <section *ngFor="let friendship of friendshipList">
      <article (click)="onFriendshipSelect(friendship)" class="user-row flex align-center justify-between">
        <div class="name-container flex align-center">
          <app-lazy-image [src]="friendship.friend.profilePictureUrl" rounded [size]="30"></app-lazy-image>
          <span class="name">{{ friendship.friend.fullName }}</span>
        </div>
      </article>
    </section>
  </ng-container>

  <ng-template #loadingTemplate>
    <div class="flex justify-center align-center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
