<mat-form-field>
  <mat-label>Password</mat-label>

  <input [type]="showPasswordAsText ? 'text' : 'password'" matInput
         [(ngModel)]="value"
         (ngModelChange)="change($event)"
         (blur)="onBlur()"
  />

  <button matSuffix mat-icon-button (click)="toggleViewMode()">
    <mat-icon>{{ showPasswordAsText ? 'visibility' : 'visibility_off' }}</mat-icon>
  </button>

  <!-- TODO: Errors are now shown here -->
  <mat-error *appFormFieldErrors="let msg of ngControl.control">{{ msg }}</mat-error>
</mat-form-field>
